div(id='footerwrapper')
	div(class='footer',id='about')
		a(href='https://github.com/rmathew1992/final-sprint') About 
	div(class='footer',id='contact')
		a(href='http://olinjs.github.com') Contact Us
	div(class='footer',id='feedback')
		a(href='/feedback') Feedback
	div(class='footer',id='faq')
		a(href='/') FAQ 


