extends layout

block content

	div(id='footerwrapper')
		div(class='footer',id='about')
			a(href='/') About 
		div(class='footer',id='contact')
			a(href='/') Contact Us
		div(class='footer',id='feedback')
			a(href='/') Feedback
		div(class='footer',id='faq')
			a(href='/') FAQ 


