block content
	div(id='general')
		div(class='Title')
			a(href='/')
				h1(id='alignname') IdeaFish
		h4(id='alignlogo') Throw an idea into the ocean
		form(id='searchForm',method="post", action="/search")
			input.textinput(id='searchbar',type='text',placeholder='Search',name='query')

	div(id='navbar_container')
		div(class='navbar',id='navbar_ideapool')
			a(href='/ideapool') Explore all ideas
		div(class='navbar',id='navbar_stuck')
			a(href='/inspire') Feeling stuck?
		div(class='navbar',id='navbar_createanidea')
			a(href='/newidea') Create an idea
		
