extends layout

block content
 
	div(id='general')
		h1(id='alignname') App Name
	div(id='nav bars')
		h1(id='alignname') App Name
		h4 Thing1
	form(id="inspire",action="/inspire",method="get")
		button(id="needinspire") Stuck?	