extends layout

block content
	div(id='general')
		h1(id='alignname') App Name
	
	div(class='ideapanel',id='ideapanel1')
		p First Idea
	div(class='ideapanel',id='ideapanel2')
		p Second Idea 
	div(class='ideapanel',id='ideapanel3')
		p Third idea