extends layout

block content
	include _navigation

	
	div(class='ideapanel',id='ideapanel1')
		p First Idea
	div(class='ideapanel',id='ideapanel2')
		p Second Idea 
	div(class='ideapanel',id='ideapanel3')
		p Third idea