extends layout

block content
	include _navigation

	div(class='ideaPoolWrap')
		each idea in ideas
			div(class='ideaPreview')
				p.title= idea.title
				p.description= idea.description
				div(class='tagWrap')
					each tag in idea.tags
						div(class='tag')
							p.tag= tag
				div(class='popularity')
					img(border='0', src='/images/arrow-up.jpg', alt='up arrow',height='10')
					p(class='dislikes',class='temp_img') idea.likedBy
					img(border='0', src='/images/arrow-down.jpg', alt='down arrow',height='10',class='temp_img')
					p(class='dislikes') idea.dislikedBy
				



		