extends layout

block content
	include _navigation

	div(class='ideaPoolWrap')
		each idea in ideas
			div(class='ideaPreview')
				p.title= idea.title
				p.description= idea.description
				div(class='tagWrap')
					each tag in idea.tags
						div(class='tag')
							p.tag= tag
	include _navigation

	div(id='random')
		h4 An idea would go here
		button(id="idea1") Click button to see whole idea		