doctype 5
html
	head
		title= title
		script(src='http://code.jquery.com/jquery.js')
		script(src='/javascripts/home.js')
		script(src='/javascripts/search.js')

		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/fonts/lato-fontface/stylesheet.css')
		block scripts
	body
		block content