extends layout

block content
	include _navigation

	div(id='newideaform')
		form(id='saveidea', action='/saveidea', method='post')
			h4 Title
			input(type='text', name='title') 
			h4 Description
			textarea(id='description', name='description', rows='5')
			h4 Tags
			input(type='text', name='tags')
			br
			br 
			button(id="Save") Save
