extends layout

block content
	include _navigation

	div(id='newideaform')
		form(id='saveidea', action='/saveidea', method='post')
			p.ideaForm= 'Title'
			input(type='text', name='title') 
			p.ideaForm= 'Description'
			textarea(id='description', name='description', rows='5')
			p.ideaForm= 'Tags (comma seperated)'
			input(type='text', name='tags')
			div(id='commentInterfaceWrap')
				button(id="Save") Save
				input(class='newIdea',type="checkbox", name="anonymous", value="anonymous")
				p.newIdea= 'Anonymous?'
			//- button(id="Save") Save

	include _footer
