body {
	padding:0px;
	margin:0px;	
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div{
	padding:0px;
	margin:0px;
}
p{
	padding:0px;
	margin:0px;
}

a {
	color: black;
	text-decoration: none;
}


/*General CSS styling*/
#alignname{
	text-align: right;
}
#general{
	border-bottom: solid #8A8484;
	border-width: 1.5px;
}

#searchbar{
	border-radius: 5px;
	padding: 0px;
}
.navbar{
	float:left;
	padding:10px;
}



/*Inspiration page */
.ideapanel{
	float:left;
	border-color:black;
	border-style: solid;
	padding:195px;
	margin:10px;
	box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);

}

.ideapanel:hover{
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}

/*New Idea page */

#newideaform{
	border:black solid;
	padding:20px;
}

/*Idea pool*/

.ideaPoolWrap {
	padding:50px;
}

.ideaPreview {
	float:left;
	position: relative;
	width:225px;
	height:275px;
	border: 1px solid rgba(0,0,0,0.5);
	margin-right:20px;
	margin-bottom:20px;
/*	background-color:rgba(0,171,169,0.5);*/
}

p.description {
	text-align:justify;
	font-family:'LatoLight',sans-serif;
	font-size:15px;
	margin-left:5px;
	margin-right:5px;
	line-height:20px;
}

p.title {
	text-align:center;
	line-height:50px;
	font-family:'LatoRegular',sans-serif;
	font-size:20px;
	color:rgb(51,153,51);
}

div.tagWrap {
	position: absolute;
	bottom: 0px;
	margin-left:auto;
	margin-right:auto;
/*	display:table;
	text-align:center;*/
}

div.tag {
	display: inline-block;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	background-color:rgba(0,171,169,0.33);
}

p.tag {
	text-align:justify;
	font-family:'LatoLight',sans-serif;
/*	color:rgb(40,45,50);*/
	font-size:12px;
	margin-left:5px;
	margin-right:5px;
	line-height:15px;
}



