/*General Styling */
body {
	padding:0px;
	margin:0px;	
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
div{
	padding:0px;
	margin:0px;
}
p{
	padding:0px;
	margin:0px;
}

a {
	color: black;
	text-decoration: none;
}
h1{
	padding: 0px;
	margin: 0px;
}

h1.search{
	font-family:'LatoLight',sans-serif;
	line-height:45px;
	font-size:25px;
	color:rgb(40,45,50);
	text-align:center;
}

h1.query{
	font-family:'LatoLightItalic',sans-serif;
	line-height:20px;
	font-size:20px;
	color:rgb(40,45,50);
	text-align:center;
}

h1.title{
	font-family:'LatoLight',sans-serif;
	line-height:50px;
	font-size:25px;
	color:rgb(40,45,50);
	text-align:left;
	color:rgb(51,153,51);
	padding-left:50px;
}

h2.creator{
	text-align:left;
	line-height:25px;
	font-family:'LatoRegular',sans-serif;
	font-size:20px;
	color:rgb(40,45,50);
	cursor:pointer;
	margin-bottom:5px;
	font-weight:normal;
	padding-left:50px;
	margin-top:10px;
}

h4{
	padding: 0px;
	margin: 0px;
}

div.Title{
	margin-left:auto;
	margin-right:0px;
	width:200px;
}
/*Nav bar*/
#alignname{
	text-align: right;
	padding: 20px;
	font-family:'LatoLight',sans-serif, bold;
	padding-top:20px;
	padding-right: 40px;
	font-weight: bold;
	font-size: 50px;
}

#alignlogo{
	text-align: right;
	line-height: 0;
	padding-bottom:20px;
	padding-right:20px;
	font-family:'LatoLight',sans-serif, bold;
}

#general{
	border-bottom: solid #8A8484;
	border-width: 1.5px;
}

#searchbar{
	outline: 0 none;
	border-radius: 25px;
	position: absolute;
	top:25px;
	float:right;
	margin-left:10px;
	padding-left: 10px;
}

.navbar{
	float:left;
	padding:10px;
}

#navbar_container{
	width:800px;
	height: 50px;
}

/*Footer*/

#footerwrapper{
	position: absolute;
	width:220px;
	left: 50%;
	margin-left: -100px;
	bottom:0px;
}

.footer{
	font-family: 'LatoLight',sans-serif;
	font-size: 10px;
	display: inline-block;
	padding-right: 10px;
	padding-top: 10px;
}
.feed1{
	font-family: 'LatoLight',sans-serif;
	color:rgb(51,153,51);
}
#feed{
	height:150px;
	width:300px;

}
#feedwrap{
	margin-left: 500px;

}
#submitfeed{
	font-family: 'LatoLight',sans-serif;
	font-size: 15px;
	background-color: rgb(51,153,51);
	margin-top: 20px;
	width:50px;
	padding: 10px;
}
#colortext{
	color:white;
}

/*New Idea page */
#newideaform{
	width:250px;
	height:350px;
	border: 1px solid rgba(0,0,0,0.5);;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
}

p.ideaForm {
	line-height:50px;
	font-family:'LatoRegular',sans-serif;
	font-size:20px;
	color:rgb(51,153,51);
}

/*Idea pool*/
.ideaPoolWrap {
	display:table;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding:50px;
}

.ideaPreview {
	float:left;
	position: relative;
	width:225px;
	height:275px;
	border: 1px solid rgba(0,0,0,0.5);
	margin-left:17px;
	margin-right:17px;
	margin-top:17px;
	margin-bottom:17px;
/*	background-color:rgba(0,171,169,0.5);*/
}

p.description {
	text-align:justify;
	font-family:'LatoLight',sans-serif;
	font-size:15px;
	margin-left:5px;
	margin-right:5px;
	line-height:20px;
}

p.descriptionIdeaPage {
	text-align:justify;
	font-family:'LatoLight',sans-serif;
	font-size:15px;
	margin-left:5px;
	margin-right:5px;
	line-height:20px;
	margin-top:10px;
}

p.title {
	text-align:center;
	line-height:40px;
	font-family:'LatoRegular',sans-serif;
	font-size:20px;
	color:rgb(51,153,51);
	cursor:pointer;
}

p.title:hover{
	color:rgb(68,203,68);
}

p.creator{
	text-align:center;
	line-height:20px;
	font-family:'LatoRegular',sans-serif;
	font-size:16px;
	color:rgb(40,45,50);
	cursor:pointer;
	margin-bottom:5px;
}

p.tags{
	display:inline-block;
}

div.tagWrap {
	position: absolute;
	bottom: 0px;
	margin-left:auto;
	margin-right:auto;
/*	display:table;
	text-align:center;*/
}

div.tagWrapIdeaPage{
	padding-left:50px;
	position: relative;
	bottom: 0px;
	padding-top:10px;
	padding-bottom:10px;
/*	display:table;
	text-align:center;*/
}

div.tag {
	display: inline-block;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	background-color:rgba(0,171,169,0.33);
	font-family:'LatoLight',sans-serif !important;
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.tag:hover{
	background-color:rgba(0,171,169,0.75);
	color:rgb(255,255,255);
	font-family:'LatoRegular',sans-serif !important;
}

p.tag {
	text-align:justify;
/*	font-family:'LatoLight',sans-serif;*/
/*	color:rgb(40,45,50);*/
	font-size:12px;
	margin-left:5px;
	margin-right:5px;
	line-height:15px;
}

/*Random idea*/
#temp_title{
	color:rgb(51,153,51);
}
#temp_description{
	display: inline-block;
	width:300px;

}
.temp{
	padding-left:20px;
	padding-top: 10px;
	font-family:'LatoLight',sans-serif;
}
#randomidea_template{
	position:relative;
	width:325px;
	height:300px;
	border: 1px solid rgba(0,0,0,0.5);
	margin-left:40%;
	margin-bottom:20px;
}

.temp_img{
	display: inline-block;
}

#temp_dislikes{
	display: inline-block;
	padding:0;
}

#temp_likes{
	display: inline-block;
	padding:0;
	text-decoration: none;
}

.popularity{
	position:absolute;
	top:0px;
	left:-30px;
	width:20px;
	height:auto;
	text-align: right;
	padding-right: 20px;
}

.popularityIdeaPage{
	position:absolute;
	top:127px;
	left:20px;
	width:20px;
	height:auto;
	text-align: right;
	padding-right: 20px;
}


.temp_tags{
	text-align:justify;
	font-family:'LatoLight',sans-serif;
	font-size:12px;
	line-height:15px;
	display: inline-block;
	background-color:rgba(0,171,169,0.33);
}

#temp_tagwrapper {
	bottom: 0px;
	margin-left:auto;
	margin-right:auto;
	padding-left:14px;
	padding-bottom:3px;
}
/*inspire page*/

#generateButton{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	width:100px;
	height:30px;
	background-color:rgb(51,153,51);
	font-family:'LatoLight',sans-serif;
	font-size:20px;
	line-height:30px;
	text-align:center;
	color:rgb(255,255,255);
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left:5px;
	margin-right:5px;
}

#mashupButton{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	width:100px;
	height:30px;
	background-color:rgb(0,171,169);
	font-family:'LatoLight',sans-serif;
	font-size:20px;
	line-height:30px;
	text-align:center;
	color:rgb(255,255,255);
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left:5px;
	margin-right:5px;
}

#commentButton{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	width:100px;
	height:30px;
	background-color:rgb(0,171,169);
	font-family:'LatoLight',sans-serif;
	font-size:20px;
	line-height:30px;
	text-align:center;
	color:rgb(255,255,255);
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.single{
	margin-right:0px;
}

#buttonWrap{
	width:220px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
}

#ideaWrap{
	width:225px;
	height:275px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
}

/* Home */

#slideshow {
    width: 65%;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-left:250px;
}

#slideshow-reel {
    width: 5400px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
}

#slideshow-reel .slide {
    width: 225px;
    height:275px;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.5);
    margin:10px;
}

#slideshow-prev, #slideshow-next {
    display: block;
    position: absolute;
    top: 190px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 28px 21px;
    border-color: transparent;
    outline: none;
}

#slideshow-prev:hover, #slideshow-next:hover {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

#slideshow-prev {
	position: absolute;
	top: 325px;
	width: 210px;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent; 
	border-right-style:solid;
	border-right-width:28px 21px;
	border-right-color:#303030;
	outline:none;
}

#slideshow-next {
	position: absolute;
	right:60px;
	top: 325px;
	width: 150px;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent; 
	border-left-style:solid;
	border-left-width: 28px 21px;
	border-left-color:#303030;
	outline:none;
}

div.slide_tagWrap {
	position: absolute;
	margin-left:auto;
	margin-right:auto;
	bottom:40%;
	padding-left: 5px;
}

div.slide_tag {
	display: inline-block;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	background-color:rgba(0,171,169,0.33);
}

p.slide_tag {
	text-align:justify;
	font-family:'LatoLight',sans-serif;
	font-size:12px;
	margin-left:5px;
	margin-right:5px;
	line-height:15px;
}

.slide_popularity{
	position:absolute;
	top: 10px;
	width:20px;
}
#simple_headerh1{
	text-align: center;
	font-family:'LatoLight',sans-serif;
	font-size:33px;
	color:rgb(51,153,51);
}
#simple_headerh2{
	text-align: center;
	font-family:'LatoLight',sans-serif;
	padding-bottom:10px;
	color:#4D4D4D;

}

#get_started{
	padding-left:200px;
}
.getting_started{
	font-size: 25px;
	font-family:'LatoLight',sans-serif;
	float:left;
	color:#4D4D4D;
	padding-top: 20px;
	padding-left: 200px;
	text-align: center;
}

/*Login page*/

#login_header{
	font-family: 'LatoLight',sans-serif;
	font-size: 50px;
	text-align: center;
	padding-left:50px;
	padding-right:50px;
	padding-top:50px;
	color:rgb(51,153,51);
}

.login_subheader{
	font-family: 'LatoLight',sans-serif;
	text-align: center;
}
#logindiv{
	text-align: center
}
#logwrapper{
	width:3500px;
	height:250px;
	padding-left: 190px;
}
.loginpage{
	font-size: 25px;
	font-family:'LatoLight',sans-serif;
	color:#4D4D4D;
	padding-top: 20px;
	padding-left: 200px;
	text-align: center;
}
.login_img{
	text-align:center;
	padding-left: 675px;
}

p.contentEditable{
	text-align:left;
	font-family:'LatoLight',sans-serif;
	font-size:15px;
	color:rgb(40,45,50);
	line-height:20px;
	margin-left:0px;
	margin-right:0px;
	padding:10px;
}

#commentField{
	width:550px;
	height:auto;
	padding-left:50px;
/*	margin-left:auto;
	margin-right:auto;*/
}

#commentWrap{
	padding-left:50px;
	width:550px;
	height:auto;
/*	margin-left:auto;
	margin-right:auto;*/
}

#commentInterfaceWrap{
	width:550px;
	height:auto;
	padding-left:50px;
/*	margin-left:auto;
	margin-right:auto;*/
}

div.linebreak{
	width:550px;
	margin-top:20px;
	margin-bottom:20px;
	border:1px solid rgba(40,45,50,0.5);
}

div.light{
	margin-top:10px;
	margin-bottom:0px;
	width:540px;
	border:1px solid rgba(40,45,50,0.25);
}

input[type="checkbox"].checkbox{
	position:relative;
	display:inline-block;
	top:-9px;
}

input[type='checkbox'].newIdea{
	position:relative;
	display:inline-block;
	top:2px;
}

div.comment{
	padding:10px;
}

p.page{
	text-align:left;
	padding-left:50px;
}

p.checkbox {
	position:relative;
	display:inline-block;
	text-align:left;
	font-family:'LatoLight',sans-serif;
	font-size:15px;
	color:rgb(40,45,50);
	line-height:30px;
	top:-10px;
}

p.newIdea {
	position:relative;
	display:inline-block;
	text-align:left;
	font-family:'LatoLight',sans-serif;
	font-size:15px;
	color:rgb(40,45,50);
	line-height:30px;
}

p.commentName {
	text-align:left;
	font-family:'LatoRegulartItalic',sans-serif;
	font-size:15px;
	color:rgb(51,153,51);
	line-height:15px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:5px;
	left:0px;
}

p.commentText {
	text-align:left;
	font-family:'LatoLight',sans-serif;
	font-size:15px;
	color:rgb(0,0,0);
	line-height:20px;
	margin-left:0px;
	margin-right:0px;
}

h2.comment {
	font-family:'LatoLight',sans-serif;
	margin-top:10px;
	line-height:25px;
	font-size:25px;
	color:rgb(40,45,50);
	text-align:left;
}

div.descriptionWrap {
	width:550px;
	height:auto;
}
