body {
	padding:0px;
	margin:0px;	
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div{
	padding:0px;
	margin:0px;
}
p{
	padding:0px;
	margin:0px;
}

a {
	color: black;
	text-decoration: none;
}


/*General CSS styling*/
#alignname{
	text-align: right;
}
#general{
	border-bottom: solid #8A8484;
	border-width: 1.5px;
}

#searchbar{
	border-radius: 5px;
	padding: 0px;
}
.navbar{
	float:left;
	padding:10px;
}



/*Inspiration page */
.ideapanel{
	float:left;
	border-color:black;
	border-style: solid;
	padding:195px;
	margin:10px;
	box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);

}

.ideapanel:hover{
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}

/*New Idea page */

#newideaform{
	border:black solid;
	padding:20px;
}

/*Idea pool*/






